@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body{
  position: absolute;
  overflow-x: hidden;
}

@theme {
    --drop-shadow-3xl: -12px -46px 95px rgba(154, 221, 56, 0.8); 
  }

  @theme {
    --drop-shadow-4xl: -50px -46px 60px rgba(255,255,255, 0.2); 
  }
  @theme {
    --drop-shadow-5xl: -50px -46px 60px rgba(255,255,255, 0.3); 
  }
  @theme {
    --drop-shadow-6xl: 50px 0px 60px rgba(255,255,255, 0.3); 
  }